<ion-content>
    <form [formGroup]="configForm" *ngIf="configForm" (ngSubmit)="onSubmit(configForm)">
        <ion-list>
            <ion-item>
                <ion-label color="primary" position="stacked">URL: </ion-label>
                <ion-input required="true" clear-input="true" type="url" name="wsApiUrl" formControlName="wsApiUrl"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" position="stacked">Límite Histórico: </ion-label>
                <ion-input required="true" clear-input="true" max="20" min="1" type="number" name="historyLimit" formControlName="historyLimit"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" position="stacked">Prefijo Ciudad</ion-label>
                <ion-input required="true" clear-input="true" type="url" name="countryPrefix" formControlName="countryPrefix"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" position="stacked">Longitud Teléfono: </ion-label>
                <ion-input required="true" clear-input="true" type="number" name="phoneLength" formControlName="phoneLength"></ion-input>
            </ion-item>
        </ion-list>


        <ion-row>
            <ion-col size="12">
                <ion-button color="primary" (click)="onSubmit()" fill="clear" shape="round" [disabled]="!configForm.valid">
                    Guardar
                    <ion-icon slot=" start " name="send "></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>