<ion-tabs>

    <ion-tab-bar slot="bottom" color="primary">
        <ion-tab-button tab="form">
            <ion-icon name="logo-whatsapp"></ion-icon>
            <ion-label>Abrir en WS</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="history">
            <ion-icon name="list"></ion-icon>
            <ion-label>Historial</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
            <ion-icon name="cog"></ion-icon>
            <ion-label>Configuración</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>