<ion-content center text-center>
    <form [formGroup]="contactForm" *ngIf="contactForm" (ngSubmit)="onSubmit(contactForm)">
        <ion-row>
            <ion-col size="12" *ngIf="contactForm.controls['phoneNumber']">
                <ion-item>
                    <ion-label>Número: </ion-label>
                    <ion-input class="phoneNumber" autofocus="true" clear-input="true" enterkeyhint="send" autocomplete="tel-national" type="tel" name="phoneNumber" placeholder="+18091234444" formControlName="phoneNumber"></ion-input>
                    <ion-button color="primary" (click)="onSubmit()" fill="clear" shape="round" [disabled]="!contactForm.valid">
                        Abrir
                        <ion-icon slot="start" name="send"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-col>
        </ion-row>
    </form>
</ion-content>